---
import NavBar from "#components/NavBar.astro";
import "../assets/main.css";
---

<html lang="es" data-theme="cupcake">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>E-Commerce CMS Demo</title>
	</head>
  <body class="bg-base-100 text-base-content">
    <NavBar/>
    <slot />
  </body>
</html>